autograd
cvxpy
cython
dask
dask-ml
findspark
jupyterlab
notebook
matplotlib
numpy
openpyxl
pandas
plotly
pycryptodome
pymongo
pyspark
scikit-learn
scipy
seaborn
ydata-profiling
tensorflow
tensorflow-metal